@media screen and (max-width: 1120px) {
	/*#wrapper .shadow-v {display: none;}*/
}
img.wp-post-image {
	max-width: 100%;
}
img.wp-post-image:not(.lazy), .dlh-content img {
	max-width: 100%;
	height: 120px;
}
#wrapper {
	width: 1000px;
}
/*Logo*/
/*#logo {padding-top: 25px;padding-bottom: 25px;}*/
#logo {/* padding-top: 25px; */padding-bottom: 0px;}
#logo.desktop {display: block;}
#logo.tablet {display: none;}
#logo.mobile {display: none;}

/*Weather*/
.dlh-weather {
}
/*Mega menu*/
#main-menu-container.fixed .inner-deep {
	width: 1000px;
}
#main-menu .content-menu {
	width: 800px;
}
#main-menu #column-0 {
    width: 150px;
}
#main-menu #column-1 {

    width: 150px;
}
#main-menu #column-2 {

    width: 305px;
}
#main-menu #column-3 {
    width: 300px;
}
/*Content*/
.content, .content-left {
	width: 655px;
}
#content {
	width: 655px;
}
.twocol .catbox {
	width: 320px;
}
.twocol .catbox.catbox-odd.last {
    width: auto;
}
.onecol .col-left {
	width: 320px;
}
.onecol .col-right {
	width: 320px;
}

/*Page template*/
.onecolumn #content {
	width:970px;
}

/*Sidebar*/
#sidebar {
	width:300px;
}
.sidebar {
	width:300px;
}
.home #sidebar-right {
	width:300px;
}

/*Footer*/
#footer .footer-style-3 .footer-widget  {width: 300px;margin-right: 35px;}
#footer .footer-style-4 .footer-widget  {width: 230px;margin-right: 16px;}
#footer .footer-style-6 .footer-widget  {width: 150px;margin-right: 14px;}
#footer .footer-style-3 #footer-widget-3 {margin-right: 0;}
#footer .footer-style-4 #footer-widget-4 {margin-right: 0;}
#footer .footer-style-6 #footer-widget-6 {margin-right: 0;}

/*Royal slider*/
.royalSlider {
	width: 655px;
	height: 400px;
}

/*Main slider*/
#main-slider.rsDefault .rsThumbsHor {
	width: auto;
	max-width: 80%;
}
#main-slider.rsDefault .rsThumb {
	width: 74px;
	height: 28px;
}
#main-slider.contentSlider {
  width: 100%;
}

#main-slider.contentSlider img:not(.lazy),
#secondary-slider.contentSlider img:not(.lazy),
#archive-slider.contentSlider img:not(.lazy) {
  max-width: 100%;
  height: auto;
}

/*Secondary Slider*/
#secondary-slider-container {
    width: 320px;
}
#secondary-slider {
	width: auto;
}
#secondary-slider.rsDefault .rsTabs {
	width: auto;
}

/*Related Post plugins*/
.wp_rp_vertical_m ul.related_post li img {
	max-height:150px;
	max-width:150px;
}

/*Latest*/
#latest {
	width: 320px;
}

/* Tabbed*/
#tabbed-container {
	width:100%;
}
/*#tabbed-container .tabbed-content #column-0 {
	width: 320px;
}
#tabbed-container .tabbed-content #column-1 {
	width: 320px;
}
#tabbed-container .tabbed-content #column-2 {
	width: 125px;
}
#tabbed-container .tabbed-content #column-3 {
	width: 160px;
}*/
#tabbed-container.rsDefault .rsThumb {
	width:auto;
}

/*Archive and Tabbed*/
.archive-wide-container #column-0, #tabbed-container #column-0{
    width: 655px;
}
.archive-wide-container #column-1, #tabbed-container #column-1  {
    width: 300px;
}
.archive-wide-container #column-2, #tabbed-container #column-2 {
	width: 310px;
}


/*Subscribe*/
.subscribe-top-box .icon {
	width:20px;
}

/*Search*/
#main-menu #search {width: 150px;}
#main-menu #search form {
    
}
#search input[type="text"] {
    width: 100%;
}
#search input[type="submit"] {	
	width:25px;
}

/*Widget*/
#subscribe {
	width:288px;
}
.subscribe_icons {

	width:286px;
}
.subscribe_icons li {
	width:52px;
}
#wp-calendar {
	width:100%;
}
.widget_twitter .widget-title a {
	width:272px;
}


/*Comment*/
#commentform input.txt {
	width:170px;
}
#commentform textarea {
	
	width: 96%;
}
#comments .comment {
	list-style-type:none;
	width:100%;
}
#comments .comment-head {
	
	width: 72px;
}
/*#respond .left {
	width:200px;
}
#respond .right {
	width:380px;
}*/

.single .dlh-title.main-title {
}

.dlh-subscribe input[type="text"] {
	width: 170px;
} 