@media screen and (max-width: 767px) {
#main-wrapper {
	position: absolute;
	top: 0px;
	left: 0;
}
.dlh-subscribe{
            cursor: pointer;
}
.widget_dlh_flickr {
		padding:1px 0 5px;
	}
	.widget {
		background-color: #fff;
		margin-bottom: 15px;
	}
.dlh-subscribe input[type="email"] {
        padding: 1px 11px;
    /* margin-right: 10px; */
    border: 1px solid #ccc;
    color: #666;
    height: 46px;
}
/*#wrapper .shadow-v {display: none;}*/
#top-nav-container, #secondary-nav-container {display: none;}
#top {
    padding: 10px 15px;
    background-color: #333;
    border-color: #999;
}
#mobile-menu {display: block;}
#mobile-menu-expand {display: block;}
#top .today {
    display: none;
}
.ticker {display: none;}

/*Logo*/
#logo {float: none;}
#logo a {margin: 0 auto;}
#logo {width: 300px;}
#logo.desktop {display: none;}
#logo.tablet {display: none;}
#logo.mobile {display: block;padding: 0;margin-right: 31px;}

/*Weather*/
.dlh-weather {
   display: none;
}

div.header-ad {display: none;}
/*#main-menu-indicator, #main-nav-container {display: none;}*/
#main-menu-container {display: none;}
#main-menu {
	margin-right: 0;
        margin-bottom: 15px;
}

/*#main-menu .border-grad-h {
	display: none;
}*/
#content-wrap {margin: 0 15px;}
.subscribe-top-box {
    display: none;
}
/*#main-slider .rsOverflow .rsContent, #archive-slider .rsOverflow .rsContent {
    margin-top: -40px;
}*/
#main-slider h2, #archive-slider h2 {
    font-size: 16px;
    line-height: 20px;
}
#main-slider p, #archive-slider p {
    display: none;
}
#secondary-slider h2 {
	font-size: 16px;
    line-height: 20px;
}
#secondary-slider .rsContent { display: none; }

.home-ad-area, #footer-ad {display: none;}
.archive-heading h1 {display: none;}
.archive .breadcrumbs {float: none;}
.archive-wide-container #column-0 h2, #tabbed-container #column-0 h2, .twocol .catbox.catbox-odd.last h2 {
	font-size: 16px;
    line-height: 20px;
}
.archive-wide-container #column-0 > div > div, #tabbed-container #column-0 > div > div, .twocol .catbox.catbox-odd.last > div {
	margin-top: 0;
	background: none;
	margin-bottom: 0;
}
.archive-wide-container #column-0 p, #tabbed-container #column-0 p, .twocol .catbox.catbox-odd.last p {
	display: none;
}
.archive-wide-container #column-1 h2, #tabbed-container #column-1 h2 {
	font-size: 16px;
    line-height: 20px;
}
.single .dlh-title.main-title {
	font-size: 16px;
    line-height: 20px;
}
.single #header-container .dlh-meta {
    float: none;
    border-left: none;
    padding-left: 0;
}
.single #header-container .dlh-meta > span {
    display: inline-block;
    margin-right: 5px;
}
#post-nav .post-previous, #post-nav .post-next { 
	float: none;
	max-width: 100%;
}
.dlh-content {
    font-size: 16px;
    line-height: 20px;
}
.dlh-content img {
    max-width: 100%;
    height: auto;
}
#footer .shadow-grad-v, #footer .border-grad-v {display: none;}
#footer #footer-widget {
    padding-left: 15px;
    padding-right: 15px;
}

img.wp-post-image {
	max-width: 100%;
}

img.wp-post-image:not(.lazy) {
	max-width: 100%;
	height: auto;
}

#main-wrapper,
#wrapper{
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
}

/*Content*/
.content, .content-left {
	width: 100%;
	margin-right: 0;
}
#content {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	margin-right: 0;
}
.twocol .catbox {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	margin-right: 0;
}
.twocol .catbox.catbox-odd.last {
    /*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	margin-right: 0;
}
.onecol .col-left {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	margin-bottom: 15px;
	margin-right: 0;
}
.onecol .col-right {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	margin-right: 0;
}

/*Page template*/
.onecolumn #content {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	margin-right: 0;
}

/*Sidebar*/
#sidebar {
    min-width: 300px;
    max-width: 480px;
    width: 93%;
}
.sidebar {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
}
.home #sidebar-right {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
}

/*Footer*/
#footer .footer-style-3 .footer-widget  {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	margin-right: 0;
}
#footer .footer-style-4 .footer-widget  {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	margin-right: 0;
}
#footer .footer-style-6 .footer-widget  {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	margin-right: 0;
}

/*Royal slider*/
.royalSlider {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	height: 205px;
}

/*Main slider*/
#main-slider.rsDefault .rsThumbsHor {
	width: auto;
	max-width: 100%;
	padding: 0;
	margin-top: 5px;
	position: relative;
	right: 0;
}
#main-slider.rsDefault .rsThumb {
	width: 74px;
	height: 28px;
}
#main-slider.contentSlider {
  width: 100%;
}

#main-slider.contentSlider img:not(.lazy),
#secondary-slider.contentSlider img:not(.lazy),
#archive-slider.contentSlider img:not(.lazy) {
  max-width: 100%;
  height: auto;
}

/*Secondary Slider*/
#secondary-slider-container {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	margin-right: 0;
}
#secondary-slider.rsDefault .rsTabs {
	width: auto;
}

/*Related Post plugins*/
.wp_rp_vertical_m ul.related_post li img {
	max-height:150px;
	max-width:150px;
}

/*Latest*/
#latest {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	margin-right: 0;
}

/* Tabbed*/
#tabbed-container {
	width:100%;
}

#tabbed-container.rsDefault .rsThumb {
	width:auto;
}

/*Archive and Tabbed*/
.archive-wide-container #column-0, #tabbed-container #column-0{
    /*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
    margin-right: 0;
    margin-bottom: 15px;
}
.archive-wide-container #column-1, #tabbed-container #column-1  {
    /*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
}
.archive-wide-container #column-2, #tabbed-container #column-2 {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	margin-right: 0;
}


/*Subscribe*/
.subscribe-top-box .icon {
	width:20px;
}

/*Search*/
#search {
    /*float: none;
    margin: 0 15px 15px;*/
    /*width: auto;*/
    width: 235px;
     margin-left: auto;
    margin-right: auto;
   
}
#search form {}
#search input[type="text"] {
   
	/*width: 220px;*/
}
#search input[type="submit"] {	
	width:25px;
	
}

/*Social Media Icon*/
#social-profile-wrapper {
    float: none;
    margin: 0 auto;
    width: 230px;
}
.social-profile li:last-child {
    margin-right: 0;
}

/*Widget*/
#subscribe {
	width:288px;
}
.subscribe_icons {

	width:286px;
}
.subscribe_icons li {
	width:52px;
}
#wp-calendar {
	width:100%;
}
.widget_twitter .widget-title a {
	width:272px;
}
/*Weather*/
.dlh-weather {
    overflow: visible;
    height: auto;
}

/*Comment*/
#commentform input.txt {
	width:170px;
}
#commentform textarea {
	
	width: 96%;
}
#comments .comment {
	list-style-type:none;
	width:100%;
}
#comments .comment-head {
	
	width: 72px;
}
/*#respond .left {
	width:200px;
}
#respond .right {
	width:380px;
}*/

.single .dlh-title.main-title {
	/*min-width: 300px;*/
	max-width: 480px;	
	width: 100%;	
	float: none;
}

.dlh-subscribe form {float: none;}
.dlh-subscribe input[type="text"] {
	width: 158px;
} 

}
@media screen and (max-width: 320px) {
#content-wrap {margin: 0 10px;}
.widget_dlh_adwidget {overflow: hidden;}
#footer #footer-widget {
    padding-left: 10px;
    padding-right: 10px;
}
}
/*@media screen and (max-width: 240px) {
	#logo a {
		max-width: 100%;
	}
}*/