@media screen and (max-width: 1023px) {
#main-slider h2, #archive-slider h2 {
    font-size: 26px;    
	line-height: 30px;
}
.archive-wide-container #column-0 h2, #tabbed-container #column-0 h2, .twocol .catbox.catbox-odd.last h2 {
	font-size: 26px;
    
	line-height: 30px;
}
#archive-slider {width: 100%;}
.home-ad-area {overflow: hidden;}

img.wp-post-image {
	max-width: 100%;
}

img.wp-post-image:not(.lazy) {
	max-width: 100%;
	height: auto;
}

#wrapper {
	width: 753px;
}
/*#wrapper .shadow-v {display: none;}*/
.ticker .dlh-meta {display: none;}
div.header-ad {
}

/*Logo*/
#logo {padding-top: 25px;width: 378px;margin-right: -77px;}
#logo.desktop {display: none;}
#logo.tablet {display: block;}
#logo.mobile {display: none;}

/*Mega menu*/
#main-menu-container.fixed .inner-deep {
	width: 753px;
}
#main-menu .content-menu {
	width: 608px;
}
#main-menu #column-0 {
    width: 100px;
}
#main-menu #column-1 {

    width: 100px;
}
#main-menu #column-2 {

    width: 233px;
    

    margin-right: 15px;

}
#main-menu #column-2 .item:first-child {
	display: none;
}
#main-menu #column-3 {
    width: 230px;
}
/*Content*/
.content, .content-left {
	width: 408px;
}
#content {
	width: 408px;
}
.twocol .catbox {
	width: 100%;
	margin-right: 0;
}
.twocol .catbox.catbox-odd.last {
    width: auto;
}
.onecol .col-left {
	width: 100%;
	margin-right: 0;
}
.onecol .col-right {
	width: 100%;
	margin-right: 0;
}

/*Page template*/
.onecolumn #content {
	width:100%;
}

/*Sidebar*/
#sidebar {
	width:300px;
}
.sidebar {
	width:300px;
}
.home #sidebar-right {
	width:300px;
}

/*Footer*/
#footer .footer-style-3 .footer-widget  {width: 231px;margin-right: 15px;}
#footer .footer-style-4 .footer-widget  {width: 169px;margin-right: 15px;}
#footer .footer-style-6 .footer-widget  {width: 112px;margin-right: 10px;}
#footer .footer-style-3 #footer-widget-3 {margin-right: 0;}
#footer .footer-style-4 #footer-widget-4 {margin-right: 0;}
#footer .footer-style-6 #footer-widget-6 {margin-right: 0;}

/*Royal slider*/
.royalSlider {
	width: 408px;
	height: 400px;
}

/*Main slider*/
#main-slider.rsDefault .rsThumbsHor {
	width: auto;
	max-width: 80%;
	top: 33%;
}
#main-slider.rsDefault .rsThumb {
	width: 74px;
	height: 28px;
}
#main-slider.contentSlider {
  width: 100%;
}

#main-slider.contentSlider img:not(.lazy),
#secondary-slider.contentSlider img:not(.lazy),
#archive-slider.contentSlider img:not(.lazy) {
  max-width: 100%;
  height: auto;
}

/*Secondary Slider*/
#secondary-slider-container {
	width: 100%;
	margin-right: 0;
}
#secondary-slider.rsDefault .rsTabs {
	width: auto;
}

/*Related Post plugins*/
.wp_rp_vertical_m ul.related_post li img {
	max-height:150px;
	max-width:150px;
}

/*Latest*/
#latest {
	width: 100%;
	margin-right: 0;
}

/* Tabbed*/
#tabbed-container {
	width:100%;
}

#tabbed-container.rsDefault .rsThumb {
	width:auto;
}

/*Archive and Tabbed*/
.archive-wide-container #column-0, #tabbed-container #column-0{
    width: 448px;
}
.archive-wide-container #column-1, #tabbed-container #column-1  {
    width: 260px;
}
.archive-wide-container #column-2, #tabbed-container #column-2 {
	width: 227px;
}


/*Subscribe*/
/*.subscribe-top-box {display: none;}*/
/*.subscribe-top-box .background {
    width: 453px;
}*/
.subscribe-top-box .subscribe-col-2 {
    width: 315px;
    
}
.subscribe-top-box .icon {
	width:20px;
}

/*Search*/
#search {width: 230px;}
#search input[type="text"] {
}
#search input[type="submit"] {	
	width:25px;
}


/*Widget*/
#subscribe {
	width:288px;
}
.subscribe_icons {

	width:286px;
}
.subscribe_icons li {
	width:52px;
}
#wp-calendar {
	width:100%;
}
.widget_twitter .widget-title a {
	width:272px;
}
/*Weather*/
.dlh-weather {
    overflow: visible;
    height: auto;
}


/*Comment*/
#commentform input.txt {
	width:170px;
}
#commentform textarea {
	
	width: 96%;
}
#comments .comment {
	list-style-type:none;
	width:100%;
}
#comments .comment-head {
	
	width: 72px;
}
/*#respond .left {
	width:200px;
}
#respond .right {
	width:380px;
}*/

.single .dlh-title.main-title {
	font-size: 32px;
	line-height: 34px;
}

.dlh-subscribe input[type="text"] {
	width: 170px;
} 
}