

#cricket-score-container

{

width: 90%;

padding: 10px;

box-sizing: border-box;

color:#999999;

text-align:center;

margin:0 auto;

}



#cricket-score-score

{

	color:red;

	font-size:30px;

}



.cricket-live-score-div hr

{

	margin:10px;

}



.match_head {

  background-color: #F4F4F4;

  color: #717171;

  margin: 3px 0;

  padding: 3px;

  cursor: pointer;

}



.match_body {

  background: none repeat scroll 0 0 #FBF8F8;

  padding: 10px;

}
