/*** ESSENTIAL STYLES ***/
.sf-menu {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 999;
  list-style: none;
  font-family: calibri;
      background: #007ea4;
}
.sf-menu .sf-mega {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  
}
.sf-menu > li.red > a {background-color: #ff2400;}
.sf-menu > li.black > a {background-color: #111;}
.sf-menu > li.yellow > a {background-color: #ff7900;}
.sf-menu > li {
  float: left;
}
.sf-menu li:hover > .sf-mega,
.sf-menu li.sfHover > .sf-mega {
  display: block;
}

.sf-menu > li > a {
  display: block;
  position: relative;
}


/*** DEMO SKIN ***/
.sf-menu {
  float: left;
  width: 100%;
  height: 34px;
}
.sf-menu .sf-mega {
  left: -30px;
  right: -30px;
  width: auto; /* allow long menu items to determine submenu width */
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #e2e1dd;
}
.sf-menu > li > a { /* fallback colour must use full shorthand */
  
  text-decoration: none;
  zoom: 1; /* IE7 */
  
 
  font-family: 'open_sans_condensedbold',Arial,Helvetica,sans-serif;
  
 color: #fff;
 padding: 7px 15px;
   font-size: 14px;
   border-width: 2px 0 0;
  /*text-transform: uppercase;*/
   border-style: solid;
  border-color: transparent;
  font-family: calibri;
  border-right: 1px solid #5d4545cc;
}
#secondary-nav-container li a:hover {
	background:#fff; color: #0000f5;
}
.sf-menu > li {
  -webkit-transition: background .2s;
  transition: background .2s;

}
.sf-menu > li:hover,
.sf-menu > li.sfHover {
  /* only transition out, not in */
  -webkit-transition: none;
  transition: none;
}
.sf-menu > li:hover a,
.sf-menu > li.sfHover a:hover{background:#fff; color:#000} {
}

.sf-menu > li:hover > a.sf-with-ul, .sf-menu > li.sfHover > a.sf-with-ul {
    padding-left: 11px;  
    padding-right: 11px;
    color: #333;
    border-color: #333;
    background-color: #fff;
}

/*** mega menu dropdown ***/
.sf-mega {
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
}
.sf-mega-section {
  float: left;
  width: 160px; /* optional */
  padding: 15px;
  margin-right: 15px;
}


/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
  padding-right: 15px;
  *padding-right: 7px; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 3px;
  margin-top: -3px;
  height: 0;
  width: 0;
  /* order of following 3 rules important for fallbacks to work */
  border: 4px solid transparent;
  border-top-color: #d0d0d0; /* edit this to suit design (no rgba in IE8) */
  /*border-top-color: rgba(255,255,255,.5);*/
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: transparent; /* IE8 fallback colour */
}