.readmore {
	color: #858285;
}
.readmore:hover {
	color: #4d4d4d;
}

.dlh-meta .dlh-meta-content > span .dlh-button {background-color: #d24747;}
.dlh-meta .dlh-meta-content > span .dlh-button:hover {background-color: #d24747;}
.dlh-meta .dlh-meta-content > span .dlh-button:active {background-color: #d24747;}

.dlh-meta .dlh-meta-content > span.meta-comments .dlh-button {background-color: #799c2d;}
.dlh-meta .dlh-meta-content > span.meta-comments .dlh-button:hover {background-color: #99c928;}
.dlh-meta .dlh-meta-content > span.meta-comments .dlh-button:active {background-color: #8bb034;}

.dlh-meta .dlh-meta-content > span.meta-edit .dlh-button {background-color: #48abbd;}
.dlh-meta .dlh-meta-content > span.meta-edit .dlh-button:hover {background-color: #58c7db;}
.dlh-meta .dlh-meta-content > span.meta-edit .dlh-button:active {background-color: #4db5c7;}

.dlh-meta .dlh-meta-content > span.meta-date .dlh-button {background-color: #418cd1;}

.dlh-meta .dlh-meta-content > span.meta-viewed .dlh-button {background-color: #db7923;}

#logo.desktop a {
    background-image:url("")!important;
    width: 285px;
    height: 56px;
}

#logo.tablet a {
    background-image:url("")!important;
    width: 285px;
    height: 100px;
}

#logo.mobile a {
    background-image:url("")!important;
    width: 285px;
    height: 56px;
}



/*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {    
	#logo.desktop a {
	    background-image:url("")!important;
	    background-size: 285px 100px;
	}
        
        #logo.tablet a {
	    background-image:url("")!important;
	    background-size: 285px 100px;
	}
        
        #logo.mobile a {
	    background-image:url("")!important;
	    background-size: 285px 100px;
	}
        
	
}