
#exTab1 .tab-content {
  /*color : white;
  background-color: #CBCBCB;*/
  padding : 5px 15px;
  /*width: 500px;*/
  border-top: 1px solid #e7e7e7;
  
}

#exTab2 h3 {
  /*color : white;
  background-color: #428bca;
  /*padding : 5px 15px;*/
  
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
  font-weight: bold;
  font-family: calibri;
  margin: 1px;
}


/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  /*border-radius: 4px 4px 0 0 ;*/
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  /*padding : 5px 15px;*/
}

div.thumb1{
    width:700px;
    height:70px;
    margin-top: 5px;
}



